body {
  background-color: #eee !important;
}

.ratings i {
  color: #f5b027;
}

.rate {
  color: #f5b027;
}

.install span {
  font-size: 12px;
}

.col-md-4 {
  margin-top: 27px;
}

.custom-margin {
  margin-left: 1em;
}

.form-select {
  width: 150px !important;
}